<%- include("partials/header"); -%>

<div class="row mt-5">
        
        <div class="col">
            <div class="card">
                <br>
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F38%2F2015%2F07%2F12223020%2F550_shutterstock_222995818.jpg&q=85" alt="" style="width:500x;height:340px;">
                <div class="card-body card-color">
                    <h5 class="card-title">
                        <a href="https://www.parents.com/pregnancy/my-body/pregnancy-health/healthy-pregnancy-tips/">23 Tips for a Healthy Pregnancy</a>
                    </h5>
                  
                    
                    <p class="card-text">
                        Follow these simple pregnancy tips on safety and nutrition to stay healthy throughout the nine months before your baby arrives. […]
                    </p>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <img src="https://femina.wwmindia.com/content/2020/jul/thdiet1596018441.jpg" alt="" style="width:420px;height:360px; margin-top: 0%;">
                <div class="card-body card-color1">
                    <h5 class="card-title">
                        <a href="https://www.maxhealthcare.in/blogs/obstetrics-and-gynaecology/indian-diet-plan-pregnancy">Indian diet plan in pregnancy</a>
                    </h5>
                    
                  
                    <p class="card-text c1">
                        By Max Team
<br>
                        Nov 07 , 2020 | 1 min read                     
                        <br>
                        To make sure that what you eat helps your body and also helps you stay interested,[…]
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card">
                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F38%2F2005%2F10%2F12234112%2Fszefei.jpg" alt=""style="width:420px;height:360px;">
                <div class="card-body card-color2">
                    <h5 class="card-title">
                        <a href="https://www.parents.com/pregnancy/my-life/emotions/10-daily-mom-to-be-meditations/">Meditation Techniques for Pregnancy and Labor</a>
                    </h5>
                    
                    </p>
                    <p class="card-text c2">The journey of pregnancy can be a long and difficult one. These 10 meditation techniques will help keep you going.
                        
[…]
                    </p>
                </div>
            </div>
        </div>
    </div>
  
    <div class="outer"> 
           
                <img  src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F38%2F2017%2F12%2F12220156%2Fshutterstock_389911081.jpg"   alt="">
            <h1 class="tag1">Pregnancy Do’s and Don’ts: Health and Exercise</h1>
            <p class="text"> 

                <h2><b>Pregnancy Exercise</b></h2>
                Exercise is not only safe during most pregnancies, but it also may ease many pregnancy discomforts and possibly shorten your labor and delivery and recovery time.
                <br>
                <br>
                <h3><em>The Do’s of Pregnancy Exercise</h3></em>
                <ul>
                <li>Exercise moderately for at least 30 minutes on most days, the American College of Obstetricians and Gynecologists recommends
                Stick with low-impact exercises such as walking, yoga, and swimming.</li>
                
                <li>Stay cool and drink plenty of water. Dehydration can lead to overheating, which is dangerous for the fetus. Drink before, during, and after exercise.</li>
                
                <li>Wear workout clothes that don’t constrict your rib cage as you breathe.</li>
                
                <li>Stretch before and after exercise. Prenatal yoga is a great way to stay flexible and strong.</li>
                
                <li>Build your strength. Focus on your back, shoulders, pectorals (chest), and biceps so they’ll keep you strong enough to pick up and hold your baby as often as he needs you to.</li>
                
                <li>Do Kegel exercises daily to help prevent urinary incontinence. They’re simple: Repeatedly contract and relax your pelvic floor muscles as though you’re stopping and starting the flow of urine.</li>
                <br>
                 <a href="https://www.parents.com/pregnancy/my-body/fitness/is-it-safe-to-exercise-during-pregnancy/">RELATED:<u>Is It Safe to Exercise During Pregnancy?</u></a>
                <br><br>
                <h3><em>The Don'ts of Pregnancy Exercise</h3></em>
                <li>Don’t work out to the point of exhaustion. Make sure you can still carry on a conversation while you’re exercising.</li>
                <li>Don’t keep exercising if you feel dizzy or lightheaded.
                
                <li>Don’t get overheated. Avoid working out in hot environments; consider early-morning or evening walks or go to an air-conditioned gym.</li>
                
                <li>Don’t lift heavy weights, lie on your stomach or back, or use machines that require wearing a belt around your waist.</li>
                
                <li>Don’t tackle high-impact sports or activities in which you risk falling or injuring your abdomen, such as in-line skating, soccer, downhill skiing, and horseback riding.</li>
                
                <li>Don’t exercise if you experience any of the following: an incompetent cervix; pregnancy with multiple risk factors for premature labor; persistent second- or third- trimester bleeding; placenta previa past 26 weeks; premature labor; ruptured membranes; preeclampsia</li>
                </ul>    
</div>
<br>

  
    
</div>

<%- include("partials/footer"); -%>
