<%- include("partials/header"); -%>

<div id="headcarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#headcarousel" data-slide-to="0" class="active"></li>
    <li data-target="#headcarousel" data-slide-to="1"></li>
    <li data-target="#headcarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        class="d-block w-100"
        src="https://www.hopkinsmedicine.org/-/media/images/health/3_-wellness/fertility-pregnancy-and-childbirth/high-risk-pregnancy-hero.ashx?h=500&la=en&mh=500&mw=1300&w=1297&hash=AAD1E8A04940C9FE4865C0FFE3F8D61487BBA22F"
        alt="First slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>My Caption Title (1st Image)</h5>
        <p>
          The whole caption will only show up if the screen is at least medium
          size.
        </p>
        <p><a class="btn btn-lg btn-primary" href="#">Register</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="https://media.front.xoedge.com/images/e162d0c6-3367-4a5d-b49b-bc2d0911e6f0"
        alt="Second slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>My Caption Title (1st Image)</h5>
        <p>
          The whole caption will only show up if the screen is at least medium
          size.
        </p>
        <p><a class="btn btn-lg btn-primary" href="#">Take Quiz</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img
        class="d-block w-100"
        src="https://www.brookhavendentalgroup.com/wp-content/uploads/elementor/thumbs/Top-Tips-To-Take-Care-Of-A-Newborn-Baby-om7qdui3mxmzwunaiuee29whkv8dwii2ek6e5pytu0.jpg"
        alt="Third slide"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>My Caption Title (1st Image)</h5>
        <p>
          The whole caption will only show up if the screen is at least medium
          size.
        </p>
        <p><a class="btn btn-lg btn-primary" href="#">Send Request</a></p>
      </div>
    </div>
  </div>
  <a
    class="carousel-control-prev"
    href="#headcarousel"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
  <a
    class="carousel-control-next"
    href="#headcarousel"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </a>
</div>

<!-- Team -->
<h2>Our Team</h2>
<div class="row row-cols-1 row-cols-md-4 row-cols-sm-2 g-4">
  <div class="col">
    <div class="card h-100">
      <img
        src="https://media-exp1.licdn.com/dms/image/C5103AQGlJZIWP1y9Ww/profile-displayphoto-shrink_800_800/0/1582482031865?e=1627516800&v=beta&t=N5GcnY9dWhGoG9JuVE80WJUJOG8C8eE1GRn7MvgEKi8"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4E03AQGaspa4DaDMlA/profile-displayphoto-shrink_800_800/0/1611803988969?e=1627516800&v=beta&t=N5pfV3Dvb1H3_jhq0Pa2vDvq1cmDJKqev4NwmjaXrwc"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://media-exp1.licdn.com/dms/image/C4E03AQH5AtozD4QNBg/profile-displayphoto-shrink_800_800/0/1617048324627?e=1627516800&v=beta&t=VUbhWN3jLqLYkOhgFGK_uq3sChvMt29ogakTbySIonk"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img
        src="https://media-exp1.licdn.com/dms/image/C5603AQFVGrGJaQlgAA/profile-displayphoto-shrink_800_800/0/1591562627438?e=1627516800&v=beta&t=8yT-QGzTi5JbBPvsGH2Ey9PZ9hDsbiRCQV3xqsXMkMg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h6 class="card-title">Card title</h6>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer"); -%>
